body {
  font-family: "Lato", sans-serif;
  background: lightgray;
}

/* h1 - tv shows styling */
h1 {
  color: #da5265;
}

.original {
  color: #1a6c1e;
}

.additional {
  color: #42271c;
}

#show1 {
  color: red;
}
#show2 {
  color: #1a6c1e;
}
#show3 {
  color: #d11509;
}
#show4 {
  color: #1338be;
}
#show5 {
  color: #f9ba39;
}

/* unordered list styling */
ul {
  color: #bd1b64;
}

.star {
  color: rgb(83, 0, 167);
}

#wars {
  color: darkgreen;
}

.multilist {
  border: 2px solid black;
}

/* link styles */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

span {
  color: red;
  font-weight: bold;
}

/* positioning */
h2,
p,
.readme-wrapper {
  text-align: center;
  padding: 0em 4em 0em 4em;
}

.box {
  border: 2px solid rgb(0, 0, 112);
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  width: 30em;
  display: block;
}

.imageR {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: blue;
  position: absolute;
  left: 6em;
}

/* box backgrounds */
#box1 {
  background: rgba(255, 166, 0, 0.25);
}

#box2 {
  background: rgba(255, 255, 0, 0.25);
}

#box3 {
  background: rgba(0, 128, 0, 0.25);
}

#box4 {
  background: rgba(0, 0, 255, 0.25);
}
